.boards {
	@include display(flex);
	max-width: 1000px;
	margin: 0 auto;
}

.board__container {
	margin: 25px;
	h2 {
		text-align: center;
	}
}

.board {
	@include display(flex);
	@include flex-wrap(wrap);
	width: 100%;
	height: 100%;
	position: relative;
}

.board__square {
	@include display(flex);
	@include align-items(center);
	@include justify-content(center);
	width: 10%;
	height: 10%;
	z-index: 1;
}

.board__ship {
	@include display(flex);
	position: absolute;
	cursor: move;
	background-color: $yellow;
	border-radius: 14px;
	width: 90%;
	z-index: 2;
}

.opponent-ship,
.ship--destroyed {
	box-shadow: inset 0 0 0 3px red;
}

.horizontal {
	@include flex-direction(row);
	box-shadow: 0 3px 0 $yellowShadow;
}

.vertical {
	@include flex-direction(column);
	box-shadow: 3px 0 0 $yellowShadow;
}

.ships-container {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
}

.squares-container {
	@include display(flex);
	@include flex-wrap(wrap);
	width: 100%;
	height: 100%;
}

.board__square-dot {
	width: 45%;
    height: 45%;
    border-radius: 100%;
  	background-color: $darkBlueShadow;
    box-shadow: 0px 3px 0px $darkBlueShadow;
    border-width: 4px;
    border-style: solid;
}

.dot--dark-blue {
	border-color: $darkBlue;
}

.dot--light-blue {
	border-color: $lightBlue;
}

.dot--dark-gray {
	border-color: $yellowShadow;
	background-color: #887933;
	box-shadow: none;
}

.miss {
	.board__square-dot {
		background-color: $white;
		border-color: $white;
		box-shadow: 0px 3px 0px $whiteShadow;
	}
}

.hit {
	.board__square-dot {
		background-color: $red;
		border-color: $red;
		box-shadow: 0px 3px 0px $redShadow;
	}
}

.is-over {
	.board__square-dot {
		background-color: darken($darkBlueShadow, 10%);
		border-color: darken($darkBlue, 10%);
		box-shadow: 0px 3px 0px darken($darkBlueShadow, 10%);
	}
}

.ship__module {
	@include display(flex);
	@include align-items(center);
	@include justify-content(center);
	@include flex(1);
}

.game__controls {
	@include display(flex);
	@include align-items(center);
	@include justify-content(center);
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 2;
}

.game__controls-btn {
	margin: 20px;
}